<template data-sly-template.customerPartnerDesktop>
    <div class="header-primary__toggle align-items-center justify-content-center d-none d-lg-flex">
        <button class="header-primary__toggle--primary header-primary__toggle--btn" aria-label="customer-mode">${properties.customerText}</button>
        <button class="header-primary__toggle--secondary header-primary__toggle--btn" aria-label="partner-mode">${properties.partnerText}</button>
    </div>
</template>
<template data-sly-template.customerPartnerMobile>
    <div class="header-primary__toggle align-items-center justify-content-center d-flex">
        <button class="header-primary__toggle--primary header-primary__toggle--btn" aria-label="customer-mode">${properties.customerText}</button>
        <button class="header-primary__toggle--secondary header-primary__toggle--btn" aria-label="partner-mode">${properties.partnerText}</button>
    </div>
</template>